@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Mondwest';
  src: url('/fonts/Mondwest-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Haas_Grot_Disp';
  src: url('/fonts/HaasGrotDisp-55Roman.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
